name: Gentoo Desktop OpenRC AMD64

on:
  push:
    branches: [master]

jobs:
  gentoo-job:
    runs-on: ubuntu-latest  # GitHub Actions host runner
    container:
      image: gentoo/stage3:desktop  # Pulls the Gentoo image from Docker Hub
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Synchronise repo and install essentials 
        run: |
          emerge dev-vcs/git bash flaggie app-eselect/eselect-repository
      - name: Recreate git repo structure
        run: |
          git config --global user.name "Madman10K"
          git config --global user.email "contact@madladsquad.com"
          git config --global --add safe.directory "$(realpath .)"
          git init
          git branch -m master
          git remote add origin https://github.com/MadLadSquad/UntitledDesktopOverlay
          git fetch --all
          git pull origin master
          git reset --hard origin/master
      - name: "Import bot's GPG key for signing commits"
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.ACTION_COMMIT_SING_PRIVATE_KEY }}
          passphrase: ${{ secrets.ACTION_COMMIT_SING_PASS }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Update manifests
        run: |
          git config --global user.name "Madman10K"
          git config --global user.email "contact@madladsquad.com"
          git fetch --all
          old="$(pwd)"
          for manifest in $(find -iname "Manifest"); do
          	man="$(realpath "${manifest}")"
          	cd "$(dirname "${man}")"
          	rm Manifest
            ebuild *.ebuild clean digest
          	cd "${old}"
          done
          (git add . && git commit -m Update && git push origin HEAD:master) || echo "Nothing to commit"
      - name: Sync and add repo   
        run: |
          eselect repository add untitled-desktop-overlay git https://github.com/MadLadSquad/UntitledDesktopOverlay.git || exit
          emerge --sync untitled-desktop-overlay || exit
      - name: Configure use flags
        run: |
          flaggie raft +lz4
          flaggie xdelta +lzma
          flaggie squashfs-tools +lzma
          flaggie libcap +static-libs
      - name: Install applications
        run: |
          emerge untitled-ibus-handwriting untitled-game-system-manager ude-session-logout || exit
        
    
